@model ValidadorXml.Models.DB.Informacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Informacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RfcEmisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RfcEmisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RfcReceptor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RfcReceptor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolioFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolioFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus.EstatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
